<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h1>Lista de contatos</h1>
     

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <ul class="text-end nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        
            <li><a routerLink="/" class="nav-link px-2 text-white">Lista</a></li>
            <li><a routerLink="/newcontact" class="nav-link px-2 text-white">Adicionar</a></li>
            <li><a routerLink="/about" class="nav-link px-2 text-white">About</a></li>
          </ul>
      
      </div>
    </div>
  </header>


