
<div class="modal1" >
  <div class="modal-content1">


      
        <div class="modalheader">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Insira seus dados.</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        
          <form (ngSubmit)="submit()" [formGroup]="form" #formDir="ngForm">
            <ul>
              <li>
                <label for="documento">Tipo de documento</label>
                <select 
                  name="documento" 
                  id="documento" 
                  formControlName="documento"
                  [(ngModel)]="documenttype"
                  required
                  > 
                  <option 
                  *ngFor="let tipo of tipodocumento"
                  [value]="tipo.id"
                  > {{ tipo.display }}</option>
                  
                </select> 
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['documento'].invalid"> ***** </span>                  
                </div>  
              
                <br>
              </li>
              <li>
                <label for="numDoc">Documento</label>
                <input 
                type="text" 
                id="numDoc" 
                name="numDoc" 
                formControlName="numDoc"
                required>
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['numDoc'].invalid"> ***** </span>                  
                </div>  
              </li>
              <li>
                <label for="nome">Nome / Razão Social</label>
                <input 
                type="text" 
                id="nome" 
                name="nome" 
                formControlName="nome"
                required>
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['nome'].invalid"> ***** </span>                  
                </div>        
              </li>
              <li *ngIf="documenttype == '2'">
                <label for="nomefantasia">Nome fantasia</label>
                <input type="text" id="nomefantasia" name="nomefantasia" formControlName="nomefantasia">
              </li>
              <li>
                <label for="cep">CEP</label>
                <input 
                type="text" 
                id="cep" 
                name="cep"  
                formControlName="cep"
                (blur)="consultaCep($event, formDir)"
                required>
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['cep'].invalid"> ***** </span>                  
                </div>                    
              </li>
              <li>
                <label for="logradouro">Endereço</label>
                <input type="text" id="logradouro" name="logradouro" formControlName="logradouro" [attr.disabled]="true">
              </li>
              <li>
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" formControlName="bairro" [attr.disabled]="true">
              </li>
              <li>
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" formControlName="cidade" [attr.disabled]="true">
              </li>
              <li>
                <label for="telefone">Telefone</label>
                <input 
                type="number" 
                id="telefone" 
                name="telefone" 
                formControlName="telefone"
                required>
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['telefone'].invalid"> ***** </span>                  
                </div> 
              </li>
             
              <li>
                <label for="email">E-mail</label>
                <input 
                type="email" 
                id="email" 
                name="email" 
                formControlName="email"
                required>              
                <div *ngIf="formDir.submitted" class="validation-error">
                  <span *ngIf="form.controls['email'].invalid"> ***** </span>                  
                </div> 
              </li>  
              
            </ul>
            <input type="submit" value="Cadastrar">
          </form>
        
      
    </div>
  </div>